details.hide.below-input summary span {
  color: black !important;
}

label.xr-section-summary {
  color: black !important;
}

div.xr-obj-type {
  color: black !important;
}

li.xr-var-item {
  color: white !important;
}
