name: Docstring Check

on:
  pull_request:
  push:
    branches: [main]

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  docstring-check:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.2"

      - name: Install pipefunc
        shell: bash -l {0}
        run: |
          uv pip install -e .

      - name: Run docstring check
        run: python .github/doc-string-check.py
