name: prek

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  hooks:
    name: Run prek hooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: j178/prek-action@v1
        with:
          args: run --all-files
